body {
	margin: 0px;
	background-color: pink;
}

a {text-decoration-style: none;
}

.header { 
	background-color: pink;
	margin-left: 20px;
	margin-right: 20px;
}

.logo {
	display: block;
    text-align: center;
    max-width: 90%;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.the-content {
	margin-top: 50px;
}

.portfolio-image {
    display: block;
    text-align: center;
    max-width: 100%;
    margin-top: 0px;
 }


.headline-img {
	display: block;
    text-align: left;
    max-width: 250px;
    height: auto;
    margin-top: 10px;
}

.link-logos {
	height: 25px;
	margin: 10px;
}

.link-block {
	max-width: 100%;
	text-align: center;
	margin-top: 30px;
}

.footer {
	background: #2f243a;
	margin-top: 120px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 300px;
	padding: 20px;
	clear: left; 

}

.button {
    background-color: #2f243a; 
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #534B62;
    color: white;
}

.last-button {
	margin-bottom: 120px;
}


article {
	float: left;
	float: left;
    width: 100%;
    margin: 20px;
}


h3 { 
	color: black; 
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 70px;
	margin-left: 0px;
	margin-right: 20px;
}

h4 {
	color: black;
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 30px;
	margin-right: 8%;
	margin-top: 5px;
}

h5 {
	color: white;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	font-size: 20px;
	margin-top: 30px;
}


@media only screen and (min-width: 375px) {
	article {
	float: left;
	float: left;
    width: 100%;
    margin: 0px;
	}

.logo {
	display: block;
    text-align: center;
    max-width: 100%;
    margin-top: 40px;
	}
}

@media only screen and (min-width: 768px) {
	h4 {
	color: black;
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 50px;
	}

h3 { 
	color: black; 
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 25px;
	line-height: 27px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
	}
}


@media only screen and (min-width: 900px) {
	article {
	float: left;
	float: left;
    width: 30%;
    margin: 15px;
}

.logo {
	display: block;
    text-align: center;
    max-width: 90%;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (min-width: 1024px) {
	h4 {
	color: black;
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 50px;
	}

.logo {
	display: block;
    text-align: center;
    max-width: 90%;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
	}

}

@media only screen and (min-width: 1224px) {
	.header { 
		background-color: pink;
		margin-left: 100px;
		margin-right: 100px;
	}

	.logo {
		display: block;
    	text-align: center;
    	max-width: 90%;
    	margin-top: 40px;
    	margin-right: 15px;
    	margin-left: 15px;
	}

	h4 {
	color: black;
	text-align: left;
	font-family: 'Cutive Mono', monospace;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 50px;
	}
}
